## Importing packages

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import json
import numpy as np
import glob
import re

## Importing csv files

In [2]:
tmdbDataSet = pd.read_csv('tmdb_5000_movies.csv')
avocadoDataSet = pd.read_csv('avocado.csv')
del avocadoDataSet['Unnamed: 0'] # removing unwanted column from dataset

## Extract basic information about dataset

In [ ]:
# Returning top 5 rows
print(tmdbDataSet.head())

In [ ]:
# Returning last row
print(tmdbDataSet.tail(1))

In [ ]:
# Getting info about dataset like clolumn types, count of not null values
print(tmdbDataSet.info())

In [ ]:
# Another way to check datatypes of the columns
print(tmdbDataSet.dtypes)

In [ ]:
# Get all the columns in dataset
print(tmdbDataSet.columns)

In [ ]:
# Get the shape of dataset
print(tmdbDataSet.shape)

In [ ]:
# Get information like count, mean, std, min, 25%, 50%, 75% and max of dataset
print(tmdbDataSet.describe())

In [ ]:
# To calulate 55% of the dataset
print(tmdbDataSet.vote_count.quantile([0.55]))

In [ ]:
# output is same as that of above cell
temp = tmdbDataSet.sort_values(['vote_count']).head(2641)
print(temp.vote_count.tail(1))

In [ ]:
# To calculate median of the dataset
print(tmdbDataSet.median())

## Analyzing null values
As we observed that out of 4803 rows only 1712 are the not null values for the homepage column. Let's investigate it further and check why these column have null values

In [ ]:
tmdbDataSet[tmdbDataSet['homepage'].isnull()]

In [ ]:
# Check the unique values of the column 
print(tmdbDataSet.production_countries.value_counts())

In [ ]:
print(tmdbDataSet.spoken_languages.value_counts(dropna=False))

In [ ]:
print(tmdbDataSet.release_date.value_counts(dropna=False))

## Converting data type of the column
As we have seen above that status column have only 3 distinct values. So it would be feasible to convert the column data type to category

In [ ]:
# Converting datatype of column to category
tmdbDataSet['status'] = tmdbDataSet['status'].astype('category')
print(tmdbDataSet.status.dtypes)

In [ ]:
# Command used to convert data type to numeric
# Note that below command will give an error while executing as string cannot be converted to numeric
tmdbDataSet['status'] = pd.to_numeric(tmdbDataSet['status'])

In [ ]:
# To forcefully convert column to numeric. It will insert NaN for the values it cannot convert to integer
pd.to_numeric(tmdbDataSet['status'], errors='coerce')

# Melting and pivoting of dataset

In [5]:
# Melting of dataset
avocadoDataSet_melt_4770 = pd.melt(avocadoDataSet, id_vars=['Date', 'AveragePrice', 'Total Volume', '4046', '4225',
       'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type', 'year',
       'region'], var_name='avocados_variety', value_name='4770')

avocadoDataSet_melt_4225 = pd.melt(avocadoDataSet_melt_4770, id_vars=['Date', 'AveragePrice', 'Total Volume', '4046',
       'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type', 'year',
       'region'], var_name='avocados_variety', value_name='4225')

avocadoDataSet_melt_4046 = pd.melt(avocadoDataSet_melt_4225, id_vars=['Date', 'AveragePrice', 'Total Volume',
       'Total Bags', 'Small Bags', 'Large Bags', 'XLarge Bags', 'type', 'year',
       'region'], var_name='avocados_variety', value_name='4046')

print(avocadoDataSet_melt_4046.head())

         Date  AveragePrice  Total Volume  Total Bags  Small Bags  Large Bags  \
0  2015-12-27          1.33      64236.62     8696.87     8603.62       93.25
1  2015-12-20          1.35      54876.98     9505.56     9408.07       97.49
2  2015-12-13          0.93     118220.22     8145.35     8042.21      103.14
3  2015-12-06          1.08      78992.15     5811.16     5677.40      133.76
4  2015-11-29          1.28      51039.60     6183.95     5986.26      197.69

   XLarge Bags          type  year  region avocados_variety     4046
0          0.0  conventional  2015  Albany             4046  1036.74
1          0.0  conventional  2015  Albany             4046   674.28
2          0.0  conventional  2015  Albany             4046    794.7
3          0.0  conventional  2015  Albany             4046     1132
4          0.0  conventional  2015  Albany             4046   941.48
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164241 entries, 0 to 164240
Data columns (total 12 columns):
Date                164241 non-null object
AveragePrice        164241 non-null float64
Total Volume        164241 non-null float64
Total Bags          164241 non-null float64
Small Bags          164241 non-null float64
Large Bags          164241 non-null float64
XLarge Bags         164241 non-null float64
type                164241 non-null object
year                164241 non-null int64
region              164241 non-null object
avocados_variety    164241 non-null object
4046                164241 non-null object
dtypes: float64(6), int64(1), object(5)
memory usage: 15.0+ MB
None

In [13]:
# Pivoting of dataset
avocadoDataSet_melt_4046['4046'] = pd.to_numeric(avocadoDataSet_melt_4046['4046'], errors='coerce')
avocadoDataSet_pivot = avocadoDataSet_melt_4046.pivot_table(index=['Date'], 
columns='type', values='4046', aggfunc=np.mean)

print(avocadoDataSet_pivot.head())

type         conventional      organic
Date
2015-01-04  316404.287361  7464.354514
2015-01-11  291850.210602  8419.956667
2015-01-18  294349.616713  8347.219074
2015-01-25  292685.403981  6873.669722
2015-02-01  469624.264699  8962.093333

In [16]:
# Pivoting of dataset
# If we also want to see the variety along with the type
avocadoDataSet_melt_4046['4046'] = pd.to_numeric(avocadoDataSet_melt_4046['4046'], errors='coerce')
avocadoDataSet_pivot = avocadoDataSet_melt_4046.pivot_table(index=['Date', 'avocados_variety'], 
columns='type', values='4046', aggfunc=np.mean)

print(avocadoDataSet_pivot.head())

type                          conventional       organic
Date       avocados_variety
2015-01-04 4046              601242.840926  11687.876481
           4225              239503.592037   5218.735556
           avocados_variety    4497.500000   4497.500000
2015-01-11 4046              561008.763704  13512.810185
           4225              214260.131235   5942.074259

# Splitting columns

We can even split a single column into multiple column.

In [ ]:
month = {1: 'JAN', 2: 'FEB', 3: 'MAR', 
         4: 'APR',5: 'MAY', 6: 'JUNE',7: 'JULY', 8: 'AUG', 9: 'SEP', 10: 'OCT', 11: 'NOV', 12: 'DEC' }
avocadoDataSet['Month'] = avocadoDataSet.Date.str.split('-').str.get(1)
avocadoDataSet['Month'] = pd.to_numeric(avocadoDataSet['Month'], errors='coerce')
avocadoDataSet['Month'] = avocadoDataSet['Month'].map(month)
print(avocadoDataSet.head())

## Reading multiple files in Python

In [ ]:
pattern = '*.csv'
csv_files = glob.glob(pattern)
dataset = pd.read_csv(csv_files[1])
print(dataset)

In [ ]:
print(tmdbDataSet.info())
print(avocadoDataSet.info())

avocadoDataSet.drop_duplicates()
tmdbDataSet.drop_duplicates()

print(tmdbDataSet.info())
print(avocadoDataSet.info())

# Since there are no duplicates rows in both of the datsets
# Therefore we can't see any chnage in rows returned

## Regular Expressions and Apply function in Python

In [ ]:
prog = re.compile('\d{3}-\d{3}-\d{4}')
result = prog.match('123-456-7890')
print(bool(result))

result = prog.match('1123-456-7890')
print(bool(result))

In [ ]:
matches = re.findall('\d+', 'Out of 3 houses, 2 houses have 4 people statying.')
print(matches)

# Observation
# The above code will find out all the numbers in the string

In [ ]:
def encode_avocado_type(value):
    if value == 'conventional':
        return 1
    elif value == 'organic':
        return 0

avocadoDataSet['type_coded'] = avocadoDataSet.type.apply(encode_avocado_type)

print(avocadoDataSet.head())

In [ ]:
avocadoDataSet['Date_replace'] = avocadoDataSet['Date'].apply(lambda x: x.replace('-', '/'))

avocadoDataSet['Date_find'] = avocadoDataSet['Date'].apply(lambda x: re.findall('\d', x))

print(avocadoDataSet.head())

## Handling missing data in the column

In tmdbDataSet, for column runtime there are two rows which doesn't have any data. We can either delete these two rows or we can add data to these two rows.

In [ ]:
# Two rows which doesn't have data for runtime column
print(tmdbDataSet[tmdbDataSet['runtime'].isnull()])

In [ ]:
runtime_mean = tmdbDataSet.runtime.mean()
tmdbDataSet['runtime'] = tmdbDataSet['runtime'].fillna(runtime_mean)

print(tmdbDataSet.info())

In [ ]:
# Forward fill and backward fill
tmdbDataSet['homepage_ffill'] = tmdbDataSet['homepage'].fillna(method='ffill')
tmdbDataSet['homepage_bfill'] = tmdbDataSet['homepage'].fillna(method='bfill')
print(tmdbDataSet[tmdbDataSet['homepage_ffill'].isnull()])

In [ ]:
tmdbDataSet['homepage_ffill']

In [ ]:
tmdbDataSet['homepage_bfill']